In [1]:
import pandas as pd
import numpy as np

In [2]:
file_names = ["OD2008_bad.csv", "OD_survey-Final_raw-data_2013.csv", "od18niv2.csv"]
features = ['d_orisr', 'd_dessr', 'd_hrede', 'd_mode1']
years = ["2008", "2013", "2018"]
ods = {"2008": None, "2013": None, "2018": None}
convert_dict = {"d_orisr": float, "d_dessr": float}
for year, file_name in zip(years, file_names):
    file = pd.read_csv(file_name)
    file.columns = list(map(str.lower, file.columns))
    file = file[file["p_mobil"]==1]
    file = file[features]
    file.replace(r'^\s*$', np.nan, regex=True, inplace=True)
    file = file.astype(float)
    file.fillna(file.mean(), inplace=True)
    file = file.astype(int)
    print(year + " was processed.")
    ods[year] = file

2008 was processed.
2013 was processed.
2018 was processed.

In [3]:
oris = {"2008": None, "2013": None, "2018": None}
dess = {"2008": None, "2013": None, "2018": None}

for year in years:
    oris[year] = list(set(list(ods[year]["d_orisr"])))
    oris[year].sort()
    dess[year] = list(set(list(ods[year]["d_dessr"])))
    dess[year].sort()

In [6]:
loc_maps = {"2008": {}, "2013": {}, "2018": {}}
for year in years:
    for i, loc in enumerate(oris[year]):
        loc_maps[year][loc] = "taz_" + str(i+1)

In [7]:
mod_map = {0: "Automobile (Self Drive)", 1: "Automobile (Passenger)", 
           4:"Walk/Bike", 2: "Bus", 3: "Subway"}

In [8]:
refined_ods = {"2008": None, "2013": None, "2018": None}
for year in years:
    refined_ods[year] = ods[year][ods[year]["d_hrede"]<=2400]
    refined_ods[year].replace({"d_mode1": mod_map}, inplace=True)
    refined_ods[year].replace({"d_orisr": loc_maps[year]}, inplace=True)
    refined_ods[year].replace({"d_dessr": loc_maps[year]}, inplace=True)
    refined_ods[year]["d_hrede"] = refined_ods[year]["d_hrede"] // 100

c:\program files\python\lib\site-packages\pandas\core\generic.py:6517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  regex=regex)
c:\program files\python\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

In [13]:
for year in years:
    refined_ods[year].to_csv("OD"+year+"(refined).csv")

In [10]:
ods["2008"].head(20)

    d_orisr  d_dessr  d_hrede  d_mode1
0   4620520  4620268      800        1
1   4620268  4620063      830        1
2   4620063  4620520     1830        1
3   4620520  4620643     1000        1
4   4620643  4620366     1500        1
5   4620366  4620520     1600        1
6   4620520  4620366      800        1
7   4620366  4620520     1400        1
8   4620520  4620268     1530        2
9   4620268  4620520     2200        2
10  4620520  4620268     1530        1
11  4620268  4620126     1600        1
12  4620126  4620115     1700        4
14  4620828  4620825      630        1
15  4620825  4620829      715        1
16  4620829  4620829     1215        1
17  4620829  4620829     1315        2
18  4620829  4620828     1800        1
19  4620171  4620884      700        4
20  4620884  4620171     1700        4

d_orisr  d_dessr
taz_1    taz_1      120
         taz_10      16
         taz_105      1
         taz_11       5
         taz_12       5
         taz_13       4
         taz_14       4
         taz_15      18
         taz_16       2
         taz_161      2
         taz_172      1
         taz_18       1
         taz_2        1
         taz_20      14
         taz_21      24
         taz_22       7
         taz_226      1
         taz_23       4
         taz_24       1
         taz_25       4
         taz_26       3
         taz_28       2
         taz_284      1
         taz_29       1
         taz_3        2
         taz_30      12
         taz_31       1
         taz_32       1
         taz_33       2
         taz_34       3
                   ...
taz_99   taz_615      2
         taz_616      3
         taz_618      1
         taz_619      5
         taz_620      1
         taz_64       1
         taz_65       1
         taz_66       2
         taz_68       4
         taz_70       1
         taz_72       1
         taz_76       1
         taz_77       6
         taz_78       1
         taz_79       3
         taz_81       1
         taz_84       2
         taz_85       1
         taz_86       9
         taz_87       2
         taz_88       2
         taz_89       2
         taz_90       2
         taz_91       6
         taz_92       1
         taz_94       3
         taz_96       3
         taz_97      22
         taz_98       5
         taz_99      18
Length: 74840, dtype: int64