In [1]:
import pandas as pd
import numpy as np

In [2]:
file_names = ["OD2008_bad.csv", "OD2013_bad.csv", "OD2018_bad.csv"]
features = ['d_orisr', 'd_dessr', 'd_hrede', 'd_mode1']
years = ["2008", "2013", "2018"]
ods = {"2008": None, "2013": None, "2018": None}
convert_dict = {"d_orisr": float, "d_dessr": float}
for year, file_name in zip(years, file_names):
    file = pd.read_csv(file_name)
    file.columns = list(map(str.lower, file.columns))
    file = file[file["p_mobil"]==1]
    file = file[features]
    file.replace(r'^\s*$', np.nan, regex=True, inplace=True)
    file = file.astype(float)
    file.fillna(file.mean(), inplace=True)
    file = file.astype(int)
    a = len(file)
    file = file[file["d_mode1"].isin([1, 2, 3, 4, 5, 6, 7, 13, 14])]
    b = len(file)
    print(b/a*100)
    print(year + " was processed.")
    print("="*15)
    ods[year] = file

93.39613500901707
2008 was processed.
===============
94.45003055453437
2013 was processed.
===============
93.81662278715923
2018 was processed.
===============

In [3]:
oris = {"2008": None, "2013": None, "2018": None}
dess = {"2008": None, "2013": None, "2018": None}

for year in years:
    oris[year] = list(set(list(ods[year]["d_orisr"])))
    oris[year].sort()
    dess[year] = list(set(list(ods[year]["d_dessr"])))
    dess[year].sort()

In [4]:
loc_maps = {"2008": {}, "2013": {}, "2018": {}}
for year in years:
    for i, loc in enumerate(oris[year]):
        loc_maps[year][loc] = str(i+1)

In [5]:
mod_map = {1: "Vehicle", 2: "Vehicle", 3: "Bus", 4: "Subway", 5: "Bus", 6: "Bus", 7: "Bus",
           13:"Bike", 14:"Walk"}

In [6]:
refined_ods = {"2008": None, "2013": None, "2018": None}
for year in years:
    refined_ods[year] = ods[year][ods[year]["d_hrede"]<=2400]
    refined_ods[year].replace({"d_mode1": mod_map}, inplace=True)
    refined_ods[year].replace({"d_orisr": loc_maps[year]}, inplace=True)
    refined_ods[year].replace({"d_dessr": loc_maps[year]}, inplace=True)
    refined_ods[year]["d_hrede"] = refined_ods[year]["d_hrede"] // 100

c:\program files\python\lib\site-packages\pandas\core\generic.py:6517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  regex=regex)
c:\program files\python\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

In [7]:
for year in years:
    refined_ods[year].to_csv("OD"+year+"(refined).csv", index=False)

In [8]:
refined_ods["2008"]

       d_orisr d_dessr  d_hrede  d_mode1
0          419     300        8  Vehicle
1          300      98        8  Vehicle
2           98     419       18  Vehicle
3          419     472       10  Vehicle
4          472     366       15  Vehicle
5          366     419       16  Vehicle
6          419     366        8  Vehicle
7          366     419       14  Vehicle
8          419     300       15  Vehicle
9          300     419       22  Vehicle
10         419     300       15  Vehicle
11         300     161       16  Vehicle
12         161     150       17   Subway
14         565     562        6  Vehicle
15         562     566        7  Vehicle
16         566     566       12  Vehicle
17         566     566       13  Vehicle
18         566     565       18  Vehicle
19         206     606        7   Subway
20         606     206       17   Subway
23          36     561        7  Vehicle
24         561      36       16  Vehicle
25          36      36        8  Vehicle
26          36      36       17  Vehicle
27         239     443        8  Vehicle
28         443     239       16  Vehicle
29         239     174       19  Vehicle
30         174     239       20  Vehicle
31         148     387        6   Subway
32         387     148       15      Bus
...        ...     ...      ...      ...
354874      97      97       12     Walk
354875      97     353       17     Walk
354876     353     112        8      Bus
354877     112     353       10      Bus
354878     356     151        8  Vehicle
354879     151     356       18  Vehicle
354880     356     355       12  Vehicle
354881     355     356       14  Vehicle
354882     418     390        7  Vehicle
354883     390     418       16  Vehicle
354884     418     472       13  Vehicle
354885     472     418       16  Vehicle
354886     418     300       14  Vehicle
354887     300     418       18  Vehicle
354893      36      36       15  Vehicle
354894      36      36       16  Vehicle
354895      36      36       15  Vehicle
354896      36      36       16  Vehicle
354897     588     585        8  Vehicle
354898     585     588        8  Vehicle
354901     587     606        8  Vehicle
354902     606     587       17  Vehicle
354903     579     323       15  Vehicle
354906     563     563        9  Vehicle
354907     563     563       10  Vehicle
354908     563     563       11  Vehicle
354909     563     562       15  Vehicle
354910     562     563       15  Vehicle
354912     579     563        9  Vehicle
354913     563     579       21  Vehicle

[297153 rows x 4 columns]